/* Reset & font */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body.home-page {
  background: linear-gradient(to right, #6d9693, #0c2506);
}

/* Header */
header {
  background: rgba(1, 37, 13, 0.75);
  color: white;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index; 1000;
}

header .logo {
  height: 50px;
  margin-right: 7px;
}

nav {
  display : flex;
  align-items: center;
}

nav a {
  margin-left: 15px;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

nav a.active {
  color: aquamarine;
}

nav a:hover {
  color: aquamarine;
}

/* Tombol hamburger */
.menu-toggle {
  display: none; /* default sembunyi di desktop */
  background: none;
  border: none;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
}

/* Mobile styles */
@media (max-width: 768px) {
  nav {
    position: absolute;
    top: 100%;     /*     muncul tepat dibawah header */
    right: 20px; 
    background: transparent;
    border-radius: 0;
    padding: 15px 20px;
    display: none;      /*     default sembunyi */
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  nav.active {
    display: flex; 
/*     muncul saat toggle */
    animation: dropdownFade 0.3s ease;
  }

  nav a {
    margin: 0;
    font-size: 1rem;
    display: block;
    width: 100%;
  }

  .menu-toggle {
    display: block; /* tampil di HP */
    z-index: 1101;
  }
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #44444400;
  min-width: 160px;
  border-radius: 8px
  padding: 10px
  z-index: 1001;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5)
}

.dropdown-content a {
  color: white;
  margin-top: 15px;
  display: block;
  text-decoration: none;
}

.dropdown-content a:hover{
  color: aquamarine;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Animasi dropdown */
@keyframes dropdownFade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

main {
  flex: 1; /* isi sisa ruang agar footer selalu di bawah */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Section Home */
#home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px; /* jarak antara gambar dan caption */
  flex-wrap: wrap; /* supaya responsif di layar kecil */
  text-align: center;
}

#home img {
  max-width: 350px;
  height: auto;
  filter: drop-shadow(0 0 12px rgba(0, 63, 10, 0.5));

}

#home h1 {
  font-size: 2rem;
  line-height: 1.4;
  letter-spacing: 3px;
  word-spacing: 5px;
  color: rgb(1, 35, 1);
  text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.75);
}

/* Footer */
footer {
  background: rgba(1, 37, 13, 0.75);
  color: white;
  text-align: center;
  padding: 5px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

/* social icon umum */
.social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 93px; /* ukuran kotak klik */
  border-radius: 8px; /* opsional */
  text-decoration: none;
  color: white; /* warna ikon default */
  transition: transform 0.18s ease, background-color 0.18s ease,
    color 0.18s ease;
  margin-left: 5px; /* jarak ke menu lain */
}

/* ikon ukuran */
.social-icon i {
  font-size: 15px;
}

/* efek hover */
.social-icon:hover {
  transform: translateY(-2px);
  color: #e1306c; /* contoh warna instagram */
  background: rgba(255, 255, 255, 0.06); /* subtle background */
}





