/* Reset & font */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #6d9693, #0c2506);
}

main {
  flex: 1; /* konten mengisi sisa ruang */
  display: flex;
  justify-content: center; /* konten di tengah horizontal */
  align-items: center; /* konten di tengah vertikal */
  padding: 20px;
  text-align: center;
}

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(
    20px,
    8vw,
    100px
  ); /* jarak antara caption & logo , flexible tapi tetap sejajar*/
  text-align: center;
}

#home h1 {
  font-size: clamp(1.2rem, 5vw, 3rem); /*flexible sesuai layar*/
  letter-spacing: 0.1em;
  word-spacing: 0.3em;
  color: #051601;
  text-shadow: 2px 2px 8px rgba(250, 249, 249, 0.5);
}

#home img {
  max-width: min(90vw, 400px);
  height: auto;
}

/* Header */
header {
  position: relative;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap; /* jangan sampai pindah baris */
}

header .logo {
  height: 50px;
  margin-right: 10px;
}

nav a {
  margin: 20px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: clamp(0.8rem, 2.5vw, 1rem);
  white-space: nowrap; /* biar tidak patah */
}

nav a:hover {
  text-decoration: underline;
  color: rgb(0, 255, 42);
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #44444400;
  min-width: 160px;
  z-index: 1;
  border-radius: 8px;
  padding: 10px;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  margin-top: 20px;
  display: block;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Footer */
footer {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  text-align: center;
  padding: 15px;
  font-size: clamp(0.8rem, 2vw, 1rem);
}

footer a {
  color: #fff;
  text-decoration: underline;
}

/* Example content styling */
section {
  padding: 40px 20px;
  margin: auto;
}
